.container {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#input-form {
    position: absolute;
    z-index: 1;
}

.btn-float {
    position: fixed;
    left: 240px;
    top: 87px;
}
.form-container{
    position: absolute;
}

.test-image {
    position: absolute;
    top: 100px;
    left: 100px;
}

.test-image-2 {
    position: absolute;
    left: 17.7733px;
    top: -3.56px;
    opacity: 0.5;
}

>>> .page { 
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.14), 0 7px 8px rgba(0, 0, 0, 0.28) !important;
}